:root {
  --yellow: #FDF150;
  --yellow-transparent: #FDF15025;
  --darkgray: #272c35;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border: 0.5px solid #888;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

thead tr {
  background-color: #1d2026;
  text-align: left;
  border-bottom: 0.5px solid #888;
}

tbody tr {
  border-bottom: 0.5px solid #888;
}

th, td {
  text-align: center;
  height: 36px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  font-weight: normal!important;
  background-color: var(--darkgray);
}

.ͼ1.cm-focused {
  outline: none;
}

.ͼ15.cm-focused .cm-selectionBackground, .ͼ15 .cm-selectionLayer .cm-selectionBackground, .ͼ15 .cm-content ::selection {
  background-color: #304E75!important;
}

.page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  height: 100%;
  width: 3rem;
  background-color: #FDF150;
  padding: 8px;
  flex-shrink: 0;
}

.resizable-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.editor-container,
.result-container {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  min-width: 0;
}

.editor-container {
  border-right: 0.5px solid #888;
}

.result-container {
  background-color: var(--darkgray);
  padding-bottom: 6rem;
  flex-grow: 1;
}

.divider {
  width: 3px;
  cursor: ew-resize;
  background-color: #888;
  flex-shrink: 0;
}

nav div.tools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

div.tools > div {
  cursor: pointer;
}

.list-container {
  position: relative;
  padding: 1rem;
  border-left: 0.5px solid #888;
  font-family: monospace;
  background: var(--yellow);
  width: 10rem;
  flex: none;
  display: flex;
  flex-direction: column;
}

.list-container h1 {
  font-size: 1.1rem;
  margin-top: -0.25rem;
}

.list-container h2 {
  font-size: 0.9rem;
  margin-bottom: -0.5rem;
}

.list-container > div.list-item {
  width: 100%;
  overflow-x: auto;
  margin-top: 0.75rem;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.error {
  color: var(--yellow);
  padding: 2rem;
  font-family: monospace;
  white-space: pre;
  width: 100%;
}